html, body, div.ember-view {
    overflow: auto;
    position: relative;
    height: 100%;
    margin: 0px;
}

.matt {
    text-align: center;
}

h3 {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
